/* General styles */
body{
    margin:0;
    font-family:"League Spartan", serif;
}
*{
    box-sizing: border-box;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}

.main_menu{
    height: 80px;
    display: flex;
    align-items: center;   
    background-color: rgba(153, 94, 94, 0.733); 
    padding: 0 10px 0 10px;
}

.main_menu_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.search-input{
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color: rgba(153, 94, 94, 0);
    outline: none;
    padding: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease, font-size 0.3s ease, width 0.3s ease;
    width: 150px;
    font-family: "League Spartan", sans-serif;
}

.search-input::placeholder
{
    color: black;
}

.search-input:focus::placeholder{
    color: transparent;
}

.search-input:focus{
    border-color: rgb(0, 0, 0);
    width: 200px;
}

.search-button
{
    background: none;
    border: none;
    cursor: pointer;

}
.main_menu_segments{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.main_menu_segments img{
    width: 30px;
    height: 30px;
}

#center_main_menu img{
    height: 50px;
    width: 50px;
}
.search-container
{
    display: flex;
    align-items: center;
    cursor: auto;
}

#barbati{
    border-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 15px;
    border: 2px solid;
    cursor: pointer;
}
a.gen{
    transition: border-color 0.3s ease, color 0.3s ease;
    
}

a.gen:hover{
    border-color: rgb(77,77,77);
    color: rgb(77,77,77)
}

.main_menu_list > #center_main_menu{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width:900px){
    .search-input{
        display: none;
    }
}

@media only screen and (max-width:600px){
    #left_main_menu,#right_main_menu{
        display: none;
    }
}


/* MAIN MENU(deasupra)----------------------------------------------*/

.categorii{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    position: relative;
    margin-bottom: 2px;
}

.grid_container{
    position: relative;
}
ul.categorii > li {
    position: relative;
    padding: 10px;
    font-size: 1.4rem;
    color: black;
    cursor: pointer;
    border-bottom: white;
    transition: background-color 0.3s ease, color 0.3s ease, border-bottom 0.3s ease;
}

ul.categorii > li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: inherit;
}

ul.categorii > li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease;
}

ul.categorii > li.sale{
    color: red;
}

li.sale::after
{
    background-color: red;
}
li.sale:hover::after{
    background-color: red;
}
ul.categorii > li:hover::after {
    width: 100%;
    
}

ul.categorii > li.sale::after{
    background-color: red;
}


/*SUB-MENU(deasupra)--------------------------------- */

.dropdown_area
{
    font-size: 2rem;
    display: none;
    position: absolute;
    width: 100%;
    pointer-events: none;
    z-index: 100;
    
}

ul.dropdown_info{
    display: block;
    pointer-events: all;
    cursor: pointer;
    position: absolute;
    width: 100%;
    padding: 10px;
    font-size: 2rem;
}

.dropdown_info{
    margin-left: 20px;
}

.dropdown_info ul li{
    cursor:auto;
    padding: 5px 0 5px 0;
}


.dropdown_info ul li a{
    cursor: pointer;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

.dropdown_info ul li a:hover{
    color: rgba(99, 129, 139, 0.959)
}

.show{
    display: block;
    pointer-events: all;
    background-color: rgb(245, 245, 245);
}

.hide{
    display: none;
}

/*DROPDOWN-MENU (deasupra)----------------------------------- */

.slider-banner-main{
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    height: 650px;
}

.slider-container
{

    display: block;
    overflow: hidden;
    height: 100%;
    width:100%;
}
.slider-container img{
    height: 100%;
    display: none;    
    width: 100%;
    object-fit: cover;
}

.displaySlide
{
    display:block !important;
}

.prev
{
    left: 0;
}

.next
{
    right: 0;
}


.slider-banner-main button
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.308);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}
.slider-banner-main button:hover{
    background-color: rgba(155, 100, 100, 0.5);
}


@media only screen and (max-width: 1200px) {
    .slider-banner-main {
        height: 500px; /* Adjust height for smaller screens */
    }
}

@media only screen and (max-width: 900px) {
    .slider-banner-main {
        height: 400px; /* Adjust height for smaller screens */
    }
}

@media only screen and (max-width: 600px) {
    .slider-banner-main {
        height: 300px; /* Adjust height for smaller screens */
    }
}

@media only screen and (max-width: 400px) {
    .slider-banner-main {
        height: 200px; /* Adjust height for smaller screens */
    }
}

/* IMAGE BANNER CONTENT (deasupra)-----------------------------*/

.top-brands-banner{
    margin: 0px 0 75px 0;
    display: grid;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.brands-text-upper{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 70px;
    font-weight: 600;
    font-family: "League Spartan", sans-serif;
}
.brands-slider
{   
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
    padding: 30px 20px 30px 20px;
    transition: transform 1s linear;

}

.logo-box{
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.logo-box img
{
    position: relative;
    background-color: rgba(211, 211, 211, 0.329);
    object-fit: contain;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
}

@media only screen and (max-width: 1200px) {
    .logo-box{
        width: 140px;
        height: 140px;
    }
}

@media only screen and (max-width: 900px){
    .logo-box{
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width:600px){
    .brands-slider{
        display: grid;
        grid-auto-flow:dense;
        grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
        gap: 20px;
        overflow: hidden;
    } 
    
}
/*BRANDS SCROLL BANNER(deasupra)--------------------------*/

